{{define "title"}}{{ .title }}{{end}}

{{define "heads"}}

{{end}}

{{define "content"}}
    <div>
        <h1>TapeStats.com - Work-In-Progress!</h1>
        <p>
            TapeStats.com is a site dedicated to providing information based on real life data about common LTO media.
            This includes failure rates, lifetime expectancy, failure indicators, and anything else we can pull from the
            data.
        </p>
        <p>This site is still under heavy development!</p>
        <p>Perhaps <a href="https://github.com/gpmidi/TapeStats">check out our GitHub repo</a> too!</p>
    </div>
{{end}}

{{define "footer"}}

{{end}}

